<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Prezi Demo</title>
  <link rel="stylesheet" type="text/css" href="/assets/app/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body ng-controller="appController as ctrl">
  {{ ctrl.message }}
  <script src="/assets/app/app.js"></script>
</body>
</html>